<div class="home-wrapper" *transloco="let t">
  @if (details$ | async; as details) {
    <h1>{{ t('home.profileTitle', {name: details.name}) }}</h1>
    @if (details.nailPolishes.length) {
      <h3>{{ t('home.colorsCatalog') }}</h3>
      <div class="cards-wrapper">
        @for (nailPolish of details.nailPolishes; track $index) {
          <app-nail-polish-card [nailPolish]="nailPolish" [withAction]="true"
                                (onAction)="onNailPolishDeletion(nailPolish.id)"></app-nail-polish-card>
        }
      </div>
    } @else {
      <h3 class="no-available-colors-message">{{ t('home.noAvailableColors') }}</h3>
      <button mat-raised-button class="dark-button"
              [routerLink]="['/', 'nail-polish', 'add']">{{ t('home.addColor') }}
      </button>
    }
  }
</div>
