@use 'colors';

.auth-page-layout {
  height: 100%;
  background-color: colors.$dusty-rose;
  display: flex;
  flex-direction: column;

  .main-image {
    width: 100%;
  }

  .content-wrapper {
    flex-grow: 1;
    padding: 20px 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: colors.$cream;
      text-align: center;
    }

    form {
      flex-grow: 1;
    }

    .actions-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
