$dusty-rose: #CC857E;
$cream: #FAF3DD;
$sky: #AED9E0;
$deep-ocean: #395C6B;
$dark-gray: #545A66;

$primary-palette: (
  0: #000000,
  10: #370d0a,
  20: #52211d,
  25: #602c27,
  30: #6e3732,
  35: #7c423d,
  40: #8a4e48,
  50: #a7655f,
  60: #c47e78,
  70: #e29891,
  80: #ffb4ac,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

$secondary-palette: (
  0: #000000,
  10: #001f29,
  20: #0d3542,
  25: #1b404e,
  30: #284b5a,
  35: #345766,
  40: #406372,
  50: #597c8c,
  60: #7396a6,
  70: #8db0c1,
  80: #a8ccdd,
  90: #c3e8fa,
  95: #dff4ff,
  98: #f3faff,
  99: #fafcff,
  100: #ffffff,
);

$tertiary-palette: (
  0: #000000,
  10: #221b00,
  20: #3b2f00,
  25: #473a00,
  30: #544606,
  35: #605113,
  40: #6d5d1e,
  50: #877635,
  60: #a2904c,
  70: #beaa63,
  80: #dbc67c,
  90: #f8e295,
  95: #fff0c4,
  98: #fff8ef,
  99: #fffbff,
  100: #ffffff,
);

$neutral-palette: (
  0: #000000,
  4: #0c0b06,
  6: #121109,
  10: #1e1c0f,
  12: #222013,
  17: #2d2b1c,
  20: #333122,
  22: #383526,
  24: #3d3a2a,
  25: #3f3c2c,
  30: #4a4737,
  35: #565342,
  40: #625e4e,
  50: #7c7765,
  60: #96917e,
  70: #b1ab97,
  80: #cdc6b2,
  87: #e1dac5,
  90: #e9e2cd,
  92: #efe8d3,
  94: #f5eed8,
  95: #f8f1db,
  96: #faf4e0,
  98: #fff9ea,
  99: #fffbff,
  100: #ffffff,
);

$neutral-variant: (
  0: #000000,
  10: #251917,
  20: #3b2d2c,
  25: #463836,
  30: #524342,
  35: #5f4f4d,
  40: #6b5b59,
  50: #857371,
  60: #a08c8a,
  70: #bba7a4,
  80: #d7c2bf,
  90: #f4dddb,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

$error-palette: (
  0: #000000,
  10: #410002,
  20: #690005,
  25: #7e0007,
  30: #93000a,
  35: #a80710,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);
