@use 'colors';

.confirmation-dialog, .upload-image-dialog {
  height: 100%;
  width: 100%;

  .mat-mdc-dialog-surface {
    border-radius: 0;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100dvw !important;
}
