.mat-stepper-vertical, .mat-stepper-horizontal {
  --mat-stepper-container-color: #CC857E;
}

.mat-horizontal-content-container {
  overflow: auto !important;
}

.mat-step-label {
  display: none !important;
}

.mat-step-header:has(.mat-step-icon-state-number){
  pointer-events: none !important;
}
