<div class="main-content" *transloco="let t">
  <button mat-button>Default button</button>
  <button mat-button class="dark-button">Dark button</button>
  <button mat-button class="cream-button">Cream button</button>
  <br>
  <button mat-raised-button>Default button</button>
  <button mat-raised-button class="dark-button">Dark button</button>
  <button mat-raised-button class="cream-button">Cream button</button>
  <button mat-raised-button class="error-button">Error button</button>
  <br>
  <button mat-stroked-button>Default button</button>
  <button mat-stroked-button class="dark-button">Dark button</button>
  <button mat-stroked-button class="cream-button">Cream button</button>
  <section class="example-section">
    <mat-checkbox class="example-margin">Checked</mat-checkbox>
    <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
  </section>
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <h1>Heading 1</h1>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <div>{{t('hi')}}</div>
</div>

<app-toolbar></app-toolbar>
