<div class="auth-page-layout" *transloco="let t">
  <img class="main-image" src="assets/images/still-life-tools-nail-art.png" alt="background-image">
  <div class="content-wrapper">
    <h1>{{t('auth.signUp.title')}}</h1>

    <form [formGroup]="form">
      <div class="form-field-wrapper">
        <span class="label">{{t('auth.signUp.salonName')}}</span>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <span class="label">{{t('auth.email')}}</span>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" type="email">
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <span class="label">{{t('auth.password')}}</span>
        <mat-form-field appearance="outline">
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <span class="label">{{t('auth.signUp.confirmPassword')}}</span>
        <mat-form-field appearance="outline">
          <input matInput formControlName="confirmedPassword" type="password">
        </mat-form-field>
      </div>
    </form>

    <div class="actions-wrapper">
      <button mat-raised-button class="dark-button" (click)="onSubmit()">{{t('auth.createAccount')}}</button>
      <button mat-button class="dark-button" [routerLink]="['../', 'sign-in']">{{t('auth.signIn')}}</button>
    </div>
  </div>
</div>

