@use 'colors';

@use 'm3-theme' as theme;
@use '@angular/material' as mat;
@include mat.core;

html {
  @include mat.core-theme(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(
      theme.$light-theme
  );
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
