@use 'colors';
@use 'mat-form-field';
@use 'buttons';
@use 'fonts';
@use 'mat-toolbar';

@use 'm3-theme' as theme;
@use '@angular/material' as mat;
@include mat.core;


html {
  @include mat.core-theme(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(
      theme.$light-theme
  );
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  @include fonts.regular-text;
  background: colors.$cream;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
